/* ===== Showcase Section ===== */
.showcase {
  background-color: var(--section-bg);
  padding: 40px 32px;
  text-align: center;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-dark);
  /* margin-bottom: 0px; */
}

.section-subtitle {
  color: var(--muted-text);
  font-size: 18px;
  margin-bottom: 32px;
}

/* Masonry grid */
.masonry-grid {
  column-count: 3;
  /* Number of columns */
  column-gap: 16px;
  /* Space between columns */
}

.masonry-item {
  position: relative;
  /* For overlay positioning */
  margin-bottom: 16px;
  /* Space between items */
  overflow: hidden;
  /* Ensure overlay doesn't overflow */
  border-radius: 16px;
  /* Rounded corners */
  break-inside: avoid;
  /* Prevent items from breaking across columns */

  /*  */
  /* position: relative;
  break-inside: avoid;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s; */
}

.masonry-item img {
  width: 100%;
  border-radius: 16px;
  transition: transform 0.4s ease, filter 0.4s ease;
}

.masonry-item:hover img {
  transform: scale(1.05);
  filter: brightness(0.85);
  /* Darken image on hover */
}

.overlay {
  position: absolute;
  /* Overlay for product name */
  bottom: 0;
  /* Position at the bottom */
  left: 0;
  /* Full width */
  right: 0;
  /* Full width */
  background: rgba(30, 58, 138, 0.7);
  color: #fff;
  text-align: center;
  padding: 12px;
  /* Padding for text */
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.4s ease;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.masonry-item:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.view-btn {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--text-color);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.view-btn:hover {
  background-color: var(--accent-light, #fde68a);
  transform: scale(1.05);
}

.mobile-overlay {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .section-title {
    font-size: 25px;
  }

  .section-subtitle {
    font-size: 17px;
    line-height: 1.5;
  }

  .masonry-grid {
    column-count: 2;
  }

  .overlay {
    font-size: 12px;
    gap: 10px;
    padding: 5px;
    display: none;
  }

  .view-btn {
    padding: 2px 5px;
    border-radius: 10px;
    line-height: 1.3;
  }

  .mobile-overlay h3 {
    font-size: 15px;
    color: var(--primary-color);
  }

  .mobile-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* @media (max-width: 600px) {
  .masonry-grid {
    column-count: 1;
  }
} */