.nav {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 20px;
}

.brand-name {
  font-size: 28.8px;
  font-weight: 700;
  color: var(--primary-color);
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.brand-name:hover {
  color: var(--primary-dark);
}

.links {
  display: flex;
  gap: 32px;
}

.links a {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-color);
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  font-weight: 600;
}

.links a:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--accent-color);
}

.menu-icon {
  display: none;
  cursor: pointer;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.menu-icon:hover {
  color: var(--primary-dark);
}

.logo{
  width: 50px;
}


/* Mobile responsiveness */
@media (max-width: 768px) {
  .nav {
    /* flex-direction: column; */
    align-items: center;
    padding: 16px 24px;
    margin-bottom: 0px;
  }

  .brand-name {
    font-size: 24px;
  }

  .menu-icon {
    display: block;
  }

  .links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    padding: 16px 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-120%);
    opacity: 0;
    pointer-events: none;
  }

  .links.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .links a {
    font-size: 15px;
    width: 100%;
  }
}