.cta-section {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-align: center;
  padding: 120px 60px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

.cta-content h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.cta-content p {
  font-size: 18px;
  line-height: 1.8;
  max-width: 600px;
  margin: 0 auto 40px auto;
  color: #e5e7eb;
}

.cta-button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 14px 36px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: var(--background-color);
  color: var(--primary-dark);
  transform: translateY(-3px);
}


@media (max-width: 768px) {
  .cta-section {
    padding: 50px 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .cta-content h2 {
    font-size: 21px;
    margin-bottom: 10px;
  }

  .cta-content p {
    font-size: 16px;
    line-height: 1.6;
    padding: 0 10px;
  }

  .cta-button {
    font-size: 16px;
    padding: 9px 0px;
    width: 100%;
    max-width: 150px;
  }
}

/* @media (max-width: 768px) {

  .maker-text h2,
  .cta-content h2 {
    font-size: 26px;
  }

  .maker-text p,
  .cta-content p {
    font-size: 15px;
  }

  .maker-video video {
    border-radius: 16px;
  }

  .cta-button {
    width: 100%;
    max-width: 280px;
  }
} */