/* ===== FOOTER ===== */
.footer {
  background-color: var(--primary-dark);
  color: #fff;
  /* padding: 3rem 2rem 1rem 2rem; */
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-brand h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--accent-color);
}

.footer-brand p {
  font-size: 16px;
  color: #fff;
  margin-top: 5px;
}

.footer-links h3,
.footer-contact h3 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 8px;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: var(--accent-color);
}

.footer-contact p {
  margin-bottom: 5px;
}

.footer-bottom {
  text-align: center;
  margin-top: 32px;
  font-size: 15px;
  color: var(--muted-text);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1rem;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }

  .footer-links,
  .footer-contact {
    margin-top:  10px;
  }

  .footer-brand H2 {
    font-size: 21px;
  }

  .footer-links h3,
  .footer-contact h3 {
    font-size: 17px;
  }

  .footer-brand p,
  .footer-contact p {
    font-size: 16px;
  }

  .footer-links ul li {
    font-size: 16px;
  }
}